.mydiv {
  height: 45vw;
  text-transform: uppercase;
    background-size: cover;
        animation: myanimation 10s infinite;
  }
  
  .myPhoto{
    height: 25vw;
   
   
  }
  

  .logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 10px;
  }
  

  @keyframes myanimation {
    0% {color: cyan;}
    
    25%{color:black;}
    50%{color:red;}
    75%{color:greenyellow;}
    
    100% {color:cyan;}
  }