.myMargin{
    margin-top: -45%;
    margin-left: 90%;
    /* float: :right; */
    margin-left: 55%;
    align-items: ;
    /* border: 3px solid red;
    height: fit-content; */
}

.newForm{
    margin-left: 5%;
    padding-left: 3%;
    padding-top: 5%;
}

.logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 10px;
  }
  



.navbar-nav{
    margin-left: 2%;
    padding: 4px;
}

