.myMargin{
    margin-top: 7%;
    margin-left: 2%;
    float: :left;
    border: 3px solid red;
    height: fit-content;
}


.logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 10px;
  }
  


