.myMargin{
    margin-top: -22%;
    margin-left: 2%;
    /* float: :right; */
    margin-left: 45%;
    /* border: 3px solid red;
    height: fit-content; */
}

.logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 10px;
  }
  



.navbar-nav{
    margin-left: 2%;
    padding: 4px;
}

