

.myForm{
    /* height: 60vh;
    background-color: white; */
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 3vh;
    color: black;
   padding: 2vw;
}

.needSignup{
  text-align: center;
  margin-top: 4vh;
}
.needSignup a{
  text-decoration: none;
  color: red;  
}



h1{
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
  
}

.logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 10px;
  }
  



.navbar-nav{
    margin-left: 2%;
    padding: 4px;
}

.mydiv {
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: cyan;}
    50%{background-color:grey;}
    50%{color: ivory;}
    100%{background-color:cyan;}
    
  }

  .mail1{
    position:relative;
    top:10vh;
    left:50%;
    
    transform:translate(-50%,-50%);
    width:350px;
    background:#fff;
    padding:20px;
    padding-bottom: 30px;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
  }
  #error{
    position:relative;
    top:-5vh;
    left:50%;
        transform:translate(-50%,-50%);
    width:350px;
    background:white;
    padding:10px; 
    text-align: center;    

  }
  
  .pw-meter {
    position:relative;
    top:1vh;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    background:#fff;
    padding:20px;
    padding-bottom: 40px;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
  }
  .pw-meter h2 {
    margin:10px 0px 30px;
    font-size:20px;
    color:#111;
    text-align:center;
  }
  .pw-meter .form-element {
    position:relative;
  }
  .pw-meter label {
    display:block;
    margin-bottom:8px;
    color:#111;
  }
  .pw-meter input {
    padding:8px 30px 8px 10px;
    width:100%;
    font-size:16px;
    border:1px solid #bbb;
    outline:none;
  }
  .pw-meter .pw-display-toggle-btn {
    position:absolute;
    right:10px;
    top:35px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    cursor:pointer;
  }
  .pw-meter .pw-display-toggle-btn i.fa-eye-slash {
    display:none;
  }
  .pw-meter .pw-display-toggle-btn.active i.fa-eye-slash {
    display:block;
  }
  .pw-meter .pw-display-toggle-btn.active i.fa-eye {
    display:none;
  }
  .pw-meter .pw-strength {
    position:absolute;
    width:100%;
    height:20px;
    margin-top:10px;
    text-align:center;
    background:#f2f2f2;
    display:none;
  }
  .pw-meter .pw-strength span:nth-child(1) {
    position:absolute;
    font-size:13px;
    color:#111;
    z-index:2;
    font-weight:600;
  }
  .pw-meter .pw-strength span:nth-child(2) {
    position:absolute;
    top:0px;
    left:0px;
    width:0%;
    height:100%;
    border-radius:5px;
    z-index:1;
    transition:all 300ms ease-in-out;
  }

 


  #but{
    position:relative;
    top:1vh;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    background:blue;
    padding:10px;
    box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);

  }
  