.myMargin{
    margin-left: 35vw;
    margin-top: -28vw;
    margin-right: 3vw;
    float: right;
    border: 0.3vw solid red;
}

.myMargin1{
  margin-left: 3vw;
    margin-top: 2vh;
    margin-right: 50vw;
    border: 0.3vw solid red;
    
}




 

 .logo{
  height: 50px;
  padding-right: 15px;
  padding-left: 10px;
}




.navbar{
    margin-left: 0%;
    padding: 0px;
}


body {
  height: 100%;
}

.mydiv {
  width:100%;
  height:100%;
  color:black;
  font-weight:bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {background-color: aquamarine;}
  
  50%{background-color:black;}
  50%{color: ivory;}
  100%{background-color:aquamarine;}
  
}


